.container {
    position: relative;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #999999;
    height: 78vh;
    width: 90%;
}
.title {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    color: #5a2807;
    user-select: none;
    margin-bottom: 4rem;
}
.wrapper {
    background-color: #171100;
    padding: 0.35rem;
}
.displayInput,
.displayValue {
    font-family: monospace;
    text-align: right;
    margin: 0;
}
.displayInput {
    line-height: 1.27rem;
    color: #d16200;
    font-size: 1.1rem;
    min-height: 1.27rem;
    /*   float: right; */
    max-width: 18rem;
    word-break: break-word;
}
.displayValue {
    line-height: 1.95rem;
    color: #fff;
    font-size: 1.3rem;
    min-height: 1.95rem;
}
.buttonsWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.1rem;
}
.btn {
    font-size: 18px;
    padding: 1rem;
    background-color: #f7e9c1;
    border: 1px solid #785800;
    min-width: 4rem;
}
.btn:hover {
    background-color: #f5d784;
    transform: scale(1.08);
}
.btn:active {
    background-color: #dbb13d;
}
.clear,
.zero {
    grid-column: span 2;
}

.cat {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8vw;
    height: auto;
    aspect-ratio: 1 / 1;
    background-image: url("/walking-cat.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.equals {
    grid-row: span 2;
}
